<% title "Classes" %>

<div class="section">
  <div class="container">
    <div class="title">Classes</div>
    <div class="table is-striped">
      <table>
        <tr>
          <th><%= sortable "name", "Program Name" %>
            <span class="icon is-small"><i class="fa fa-sort-desc"></i></span>
          </th>
          <th><%= sortable "year", "Year" %>
            <span class="icon is-small"><i class="fa fa-sort-desc"></i></span>
          </th>
          <th>Fellows</th>
        </tr>
        <% @cohorts.each do |cohort| %>
          <tr>
            <td><%= link_to cohort.name, admin_cohort_path(cohort.id)%></td>
            <td><%= cohort.year %></td>
            <td>
              <%= "#{cohort.fellows.count} Fellows" %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="section">
  <div class="container">
      <%= link_to "Add A New Class", new_admin_cohort_path, :class => 'button is-success' %>
  </div>
</div>
