<% title "Cansbridge - #{@cohort.name}" %>

<div class="section">
  <div class="container">
    <div class="title"><%= @cohort.name %></div>

    <table class="table">
      <tr>
        <td>Name</td><td><%= @cohort.try :name %></td>
      </tr>
      <tr>
        <td>Year</td><td><%= @cohort.try :year %></td>
      </tr>
      <tr>
        <td>Updated on</td><td><%= @cohort.updated_at.strftime("%B %e, %Y") %></td>
      </tr>
      <tr>
        <td>Fellows</td><td><%= @cohort.fellows.count %></td>
      </tr>
    </table>
  </div>
</div>

<div class="section">
  <div class="container">
    <%= link_to "Edit", edit_admin_cohort_path(@cohort.id), :class => "button is-warning", :id => "cohort-edit-button" %>
    <%= link_to "Delete", admin_cohort_path(@cohort.id), method: :delete, confirm: "Are you sure you want to delete this Class?", :class => "button is-danger" %>
  </div>
</div>
