<% title "Cansbridge - #{@cohort.name}" %>

<div class="container">

    <h3><%= @cohort.name %></h3>

    <div class="container">
      <%= link_to "Edit", edit_admin_cohort_path(@cohort.id), :class => "button is-warning", :id => "cohort-edit-button" %>
      <%= link_to "Delete", admin_cohort_path(@cohort.id), method: :delete, confirm: "Are you sure you want to delete this Class?", :class => "button is-danger is-outlined" %>
    </div>

    <table style="width:100%">
      <tr>
        <td>Name</td><td><%= @cohort.try :name %></td>
      </tr>
      <tr>
        <td>Year</td><td><%= @cohort.try :year %></td>
      </tr>
      <tr>
        <td>Updated at</td><td><%= @cohort.updated_at.strftime("%B %e, %Y") %></td>
      </tr>
      <tr>
        <td>Fellows</td><td><%= @cohort.fellows.count %></td>
      </tr>
      <tr>
        <td>Number of Classes</td><td><%= @cohort.cohorts.length %></td>
      </tr>
    </table>
  </div>
</div>
