<% f = form %>

<%= render 'shared/error_messages', object: f.object %>
<div class="section">
  <div class="container">
    <h4 class="subtitle is-4" id="general-info">General Info</h4>
    <label class="label">First Name</label>
    <p class="control">
      <%= form.text_field :first_name, placeholder: "Ross" %>
    </p>
    <label class="label">Last Name</label>
    <p class="control">
      <%= form.text_field :last_name, placeholder: "Kelly" %>
    </p>
    <label class="label">Email</label>
    <p>To recieve Cansbridge updates, newsletters, and events</p>
    <p class="control">
      <%= form.text_field :email, placeholder: "ross@boss.ca" %>
    </p>
    <label class="label">Email</label>
    <p>Other email (secondary, company email)</p>
    <p class="control">
      <%= form.text_field :email, placeholder: "ross@company.ca" %>
    </p>
  </div>

<div class="section">
  <div class="container">
    <%= form_for @fellow do |f| %>
      <h4 class="subtitle is-4" id="general-info">Locations</h4>



      <ul>
        <%= f.fields_for :locales do |locales_form| %>
          <li>
            <label class="label">Delete Location <%= locales_form.check_box :_destroy%></label>
            <label class="label">Date</label>
            <p>Month of Arrival</p>
            <p class="control">
               <%= locales_form.date_select :period %>
            </p>
            <label class="label">City</label>
            <p class="control">
              <%= locales_form.text_field :city, placeholder: "Shanghai" %>
            </p>
           <label class="label">Country</label>
           <p class="control">
             <%= locales_form.text_field :country, placeholder: "China" %>
           </p>
          </li>

        <% end %>
        <p>
          <%= f.submit 'Add Locationsssss', controller: :fellows, action: :add_locale, id: @fellow, :class => "button" %>
          <%= f.submit 'Delete checked Locations', :first_name => "remove_locale" %>
        </p>
      </ul>
    <% end %>
  </div>
</div>

  <p class="control">
    <%= form.submit "Submit", :class => "button is-info" %>
  </p>


  <% if false %>
    <div class="row">
      <% if @project_member.image? %>
        <div class="large-12 columns">
          <%= image_tag @almuni.image_url, data: { 'no-retina' => ''}  %>
        </div>
      <% end %>
    </div>
  <% end %>
