<% f = form %>

<%= render 'shared/error_messages', object: f.object %>

<fieldset>
  <legend>Project Member Info</legend>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label "Name - First Name Only" %>
      <%= f.text_field "name", readonly: readonly %>
    </div>
    <div class="large-12 columns">
      <%= f.label "github url" %>
      <%= f.text_field "github", readonly: readonly %>
    </div>
    <div class="large-12 columns">
      <%= f.label "linkedin url" %>
      <%= f.text_field "linkedin", readonly: readonly %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <% unless readonly %>
        <%= label_tag :image, "Profile Image" %>
        <% if @project_member.image? %>
        <div class="alumni-img">
          <%= image_tag @project_member.image.medium, data: { 'no-retina' => ''}  %>
        </div>
        <% end %>
        <%= f.file_field :image %>
      <% end %>
    </div>
  </div>

  <% if readonly %>
    <div class="row">
      <% if @project_member.image? %>
        <div class="large-12 columns">
          <%= image_tag @almuni.image_url, data: { 'no-retina' => ''}  %>
        </div>
      <% end %>
    </div>
  <% end %>

</fieldset>
