<% if false %>

<% title "Admin - Fellows" %>

<h3>Fellows</h3>

<div class="section">
  <div class="container">
    <%= link_to "Add Fellow to Class", new_admin_cohort_fellow_path(@cohort), :class => "button is-success" %>
  </div>
</div>

<section>

  <table style="width:100%">
    <tr>
      <th><%= sortable "name", "Program Name" %></th>
      <th><%= sortable "year", "Year" %></th>
      <th style="width:120px">Fellows</th>
    </tr>
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= link_to cohort.name, admin_cohort_path(cohort.id)%></td>
        <td><%= cohort.year %></td>
        <% if false %>
        <td>
          <%= link_to "#{cohort.fellows.count} Fellows", admin_cohorts_path(cohort_id: cohort.id) %>
          <br>
        </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <div class="section">
    <div class="container">
      <%= form.submit "Submit", :class => "button is-info" %>
    </div>
  </div>
</section>

<% end %>
