<% title "Admin - #{@fellow.full_name}" %>

<div class="section">
  <div class="container">
    <div class="title"><%= @fellow.full_name %></div>
    <table class="table">
      <tr>
        <td>First Name</td><td><%= @fellow.first_name %></td>
      </tr>
      <tr>
        <td>Last Name</td><td><%= @fellow.last_name %></td>
      </tr>
      <tr>
        <td>Class</td><td><%= @fellow.cohort.year %></td>
      </tr>
      <tr>
        <td>Updated at</td><td><%= @fellow.updated_at.strftime("%B %e, %Y") %></td>
      </tr>
    </table>
  </div>
    <div class="container">
      <%= link_to "Edit", edit_admin_fellow_path(@fellow.cohort, @fellow.id), class: "button" %>
    </div>
</div>

<div class="section">
  <div class="container">
    <div class="subtitle">Locations</div>
      <%= render :file => 'admin/locales/show', locale: locale %>
  </div>
</div>
